name: tests
on:
  pull_request:
  push:
    branches:
      - master
  workflow_call:

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: [3.2.9, 3.3.10, 3.4.7]
    env:
      RAILS_ENV: test
    steps:
      - uses: actions/checkout@v5

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically

      - uses: supercharge/redis-github-action@1.8.0

      - name: Appraisal Install
        run: bundle exec appraisal install

      - name: Rubocop
        run: bundle exec rubocop

      - name: Rspec
        run: bundle exec appraisal rspec
